body {
    font-size: 1.5em;
}
/* это стили для header */
#header {
    padding: 20px 0;
    margin-bottom: 20px;
}
#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    line-height: 1;
}
/* это стили для меню, то что в header */
#menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
#menu li {
    padding: 5px 10px;
}
#menu a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    background: #ccc;
    color: #000;
    transition: all;
    border-radius: 5px;
}
/* это ховерное состояние пунктов меню */
#menu a:hover {
    box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.5), inset 2px 2px 5px 0 rgba(0,0,0,0.3);
}
/* это центрирующий контейнер */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}
/* дальще будет идти ваш код */

/* Level-1 */
ul {
    list-style:none;
}
#main .container li:before {
    content:"-";

}
.container > ul li:nth-child(3n+1) {
    background-color: yellow;
}

.container > ul li:first-child a {
    color: green;
}
#main .container > ul li:nth-child(even) {
    font-size: 20px;
}
#main .container > ul li:nth-child(odd) {
    font-size: 18px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: red;
}
/* Level-2*/
h3:first-child {
    color: pink;
}
#greycol {
    color:grey;
}

#main p:only-child {
    color:red;
}
#main p:nth-last-child(2) {
    color:green
}
.yellow {
    color:yellow;
}

/* Level-3*/
#main .em li {
    font-size: 1.2em;
}
#main li {
    font-size: 2rem;
}